# Ignorar todos os arquivos .env para evitar contaminação durante o build
.env*
!.env.example

# Dependências e diretórios de build
node_modules
build
dist

# Controle de versão
.git
.gitignore
.github
