/* src/App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #header {
    background-color: #032903;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  #pn_main {
    padding: 20px;
  }
  /* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #e0f2f1; /* Cor do fundo da barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b7a57; /* Cor do controle da barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b7a57; /* Cor ao passar o mouse */
}
