/* MapaSantos.css */

/* Estilo para o painel de informações */
.painel-info {
    z-index: 30; /* Maior que o mapa */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 33%;
    background: rgb(178, 238, 170);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
  }
  
  /* Contêiner principal */
  .relative {
    z-index: 0;
  }
  
  /* Contêiner do mapa */
  .leaflet-container {
    z-index: 1;
  }
  
  /* Fundo sólido para o mapa */
  .map-container {
    background: white;
  }
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #e0f2f1; /* Cor do fundo da barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2e7d32; /* Cor do controle da barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b5e20; /* Cor ao passar o mouse */
}
